a{
  color:rgb(64,255,64);
  text-decoration:none;
}

body{
 font-weight: bold;
 color:white;
 margin:0;
 padding:0;
 padding-right:100px;
 white-space:pre-wrap;
}

h1,h4{
  display:inline;
  line-height:1;
}
h1{
  font-size:60px;
}
h3{
  font-size:40px;
}
h4{
  font-size:32px;
}
h5{
  font-size:24px;
}

code{
 background:rgba(64,64,96,1);
 padding-left:50px;
 padding-right:50px;
 display:inline-block;
}
code:after{
 content:"\a\a";
}
code:before{
 content:"\a";
}

img{
 max-width:100%;
 height:auto;
 object-fit:contain;
}
