@font-face{
  font-family: "OpenDyslexic";
  src: url("OpenDyslexic_Bold.ttf");
}

a{
  color:rgb(64,255,64);
  text-decoration:none;
}

body{
  background-color:403a4d;
  font-family:OpenDyslexic,"Arial Black",serif;
  color:white;
  margin:0;
  padding:0;
  padding-bottom:100px;
}

p{
  margin-top:-30px;
}

h1,h4{
  display:inline;
  line-height:1;
}

h1{
  font-size:60px;
}

h3{
  font-size:40px;
}

h4{
  font-size:32px;
}

.footer{
  position:fixed;
  width:100%;
  background-color:rgba(0,0,0,0.5);
  bottom:0px;
}

.grid{
  margin: 0 auto;
}

.grid-sizer,.grid-item {
  width:98vw;
  margin-bottom:10px;
}

.grid-item{
  width:auto;
  float: left;
  border:2px solid #000;
  background:rgba(255,255,255,0.2);
}
#thumbnail {
  float:left;
  width:384px;
  padding:10px;
  overflow:hidden;
}
#description {
  overflow:hidden;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  font-size:24px;
}

@media screen and (min-width: 1800px) {
  .grid-sizer,.grid-item{
    width:850px;
  }
   #thumbnail {
    float: none;
  }
}

@media screen and (max-width: 1024px) {
  .grid-sizer,.grid-item {
    width:95vw;
  }
   #thumbnail {
    float: none;
  }
}
