@font-face{
  font-family: "OpenDyslexic";
  src: url("OpenDyslexic_Bold.ttf");
}

a{
  color:rgb(64,255,64);
  text-decoration:none;
}

table{
  color:white;
  /*background-color:666666;*/
  /*max-width: 75%;*/
  padding-right:15%;
  padding-left:15%;
  float:left;
}
td{
  vertical-align: top;
}
td.underlined{
  border-bottom:1px solid grey;
}

body{
  background-color:000000;
  font-family:OpenDyslexic,"Arial Black",serif;
  color:white;
}

img.thumb{
  /*float:right;*/
  margin-right:10px;
}

p{
  margin-top:-30px;
}

h1,h4{
  display:inline;
  line-height:1;
}

h1{
  font-size:60px;
}

h3{
  font-size:40px;
}

h4{
  font-size:32px;
}
