@font-face{
  font-family: "OpenDyslexic";
  src: url("OpenDyslexic_Bold.ttf");
}

a{
  color:rgb(64,255,64);
  text-decoration:none;
}

body{
  background-color:403a4d;
  font-family:OpenDyslexic,"Arial Black",serif;
  color:white;
  margin:0;
  padding:0;
}

p{
  margin-top:-30px;
  font-size:24px;
}

h1,h4{
  display:inline;
  line-height:1;
}

h1{
  font-size:60px;
}

h3{
  font-size:40px;
}

h4{
  font-size:32px;
}

.game {
  overflow:hidden;
  border-bottom:2px solid #000;
}

.game div {
   min-height: 384px;
   padding: 10px;
}
#thumbnail {
  float:left;
  width:384px;
}
#description {
  overflow:hidden;
  min-height:384px;
}

@media screen and (max-width: 1024px) {
   #thumbnail {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
  }
}
