code{
 background:rgba(64,64,96,1);
 padding-left:50px;
 padding-right:50px;
 display:inline-block;
 tab-size:4;
}
code:after{
 content:"\a\a";
}
code:before{
 content:"\a";
}

article {
 white-space: pre-wrap;
 padding: 50px;
}

video, img {
 max-width: 100%;
}

hr {
 height:10px;
 border-width:0;
 color:rgb(90,90,90);
 background-color:rgb(90,90,90);
}

.fadecode {
 color:rgba(128,128,128,1);
}
